<nav ng-controller="TodoListController" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <!-- Let's call a js function from our HTML. wat? -->
      </div>
    </div>
      <a class="navbar-brand" href="#">Todo App</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- TODO: Use Angular to loop through nav items -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
      </ul>
        <button ng-click="loadForm()" class="col-xs-6 btn btn-success">New Item</button>
        <button ng-click="loadListView()" class="col-xs-6 btn btn-info"> All Items</button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
