 
<div class="col-xs-12">
  <h1>Todo List</h1>
  <!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy -->
  <div>
  <!-- changed Joe's search to search all aspects of task not just task name -->
    <div class="panel panel-default">
      <div class="panel-body" ng-repeat="todo in todoList | filter: searchText.searchTerm">
        <div class="col-xs-1"><input type="checkbox" ng-model="todo.isCompleted" ng-change="updateTaskStatus(todo)"></div>
        <div class="col-xs-7 task"><a href="#!/todo/details/{{todo.id}}">{{todo.task}}</a></div>
        <div class="col-xs-2 date">{{todo.dueDate}}</div>
        <div class="col-xs-1 assignee">{{todo.assignedTo}}</div>
        <div class="col-xs-1 delete"><button class="btn btn-danger" ng-click="deleteTask(todo.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
      </div>
    </div>
  </div>
</div>